body {
  width: 250px;
  height: 180px;
  font-family: arial,helvetica,sans-serif;
  font-size: 100%;
  background-color: white;
}
div.titleBlock{
  height: 80px;
  width: 250px;
  text-align: center;
}
div.buttonBlock{
  width: 250px;
  height: 80px;
  text-align: center;
}
div.normalBlock{
  width: 250px;
  height: 80px;
  text-align: center;
}
div.version{
  color:grey;
  text-align: center;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
